<button (click)="startNull()">start with null</button>
<button (click)="startEmpty()">start empty str</button>
<button (click)="startDate()">start with date</button>
<section *ngIf="serverDateValue !== 'uninitialized'">
  <form [formGroup]="formGroup">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       Server date value: {{ serverDateValue }}
       / date null? {{ serverDateValue === null }}
       / date undefined? {{ serverDateValue === undefined }}
       / date type string? {{ serverDateType }} / empty str? {{ serverDateValue?.length === 0 }}</p>

    <p>Original Form Control Value: {{ originalDateFormControlValue }}
       / date null? {{ originalDateFormControlValue === null }}
       / date undefined? {{ originalDateFormControlValue === undefined }}
       / date type string? {{ originalDateType }} / empty str? {{ originalDateFormControlValue?.length === 0 }}</p>

    <p>Current Form Control Value: {{ formGroup.get('myDate').value }}
       / date null? {{ formGroup.get('myDate').value === null }}
       / date undefined? {{ formGroup.get('myDate').value === undefined }}
       / date type string? {{ dateType }} / empty str? {{ formGroup.get('myDate').value?.length === 0 }}</p>

    <mat-form-field appearance="outline" floatLabel="always">
      <input autocomplete="off" formControlName="myDate" matInput [matDatepicker]="picker0"
             (dateChange)="changeDate($event)" (dateInput)="changeDate($event)">
      <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
      <mat-datepicker #picker0></mat-datepicker>
    </mat-form-field>

    <p>Random string field needed for JSON testing</p>
    <mat-form-field appearance="outline">
      <input autocomplete="off" formControlName="myStr" matInput type="text">
    </mat-form-field>
    <p>Value: {{ formGroup.get('myStr').value }}</p>
  </form>

  <button (click)="stringify()">stringify and clear form</button>
  <br/>
  <br/>
  <p>{{ strForm }}</p>
  <br/>
  <br/>
  <button (click)="parse()">parse</button>
  <br/>
  <br/>
  <p *ngIf="parsedData">Parsed date value: {{ this.parsedData?.myDate }}
    / date null? {{ this.parsedData?.myDate === null }}
    / date undefined? {{ this.parsedData?.myDate === undefined }}
    / parsed date type string? {{ parsedDateType }} / empty str? {{ this.parsedData?.myDate?.length === 0 }}</p>
  <br/>
  <br/>
  <p>String data to be sent to server: {{ formattedDate }}</p>
</section>
